indent this coding file properly. extends layout 

block content 
    h1 Update/Edit book!
    p Edit a book.
    form(action="/" +book.isbn + '?_method=PUT' method="POST")
        input(type="hidden" name="_method" value="PUT")
        div
            label(for="title") TITLE: 
            input(type="text" name="title" id="title" value=book.title required)
        div
            label(for="subtitle") SUBTITLE: 
            input(type="text" name="subtitle" id="subtitle" value=book.subtitle required)
        div
            label(for="author") AUTHOR: 
            input(type="text" name="author" id="author" value=book.author required)
        div
            label(for="published") PUBLISHED: 
            input(type="date" name="published" id="published" value=book.published required)
        div
            label(for="publisher") PUBLISHER: 
            input(type="text" name="publisher" id="publisher" value=book.publisher required)
        div
            label(for="pages") PAGES: 
            input(type="number" name="pages" id="pages" value=book.pages required)
        div
            label(for="description") DESCRIPTION: 
            textarea(name="description" id="description" rows="5" required)= book.description 
        div
            button(type="submit") Edit Book 
            a(href="/") Back to booklist